<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>시나브로</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static//img/favicon.png" rel="icon">
  <script src="https://kit.fontawesome.com/5ce2423c61.js" crossorigin="anonymous"></script>

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static//vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static//vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static//vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static//vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static//vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static//vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static//css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Sinabro</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="../static//img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">홈</a></li>
          <li><a class="nav-link scrollto" href="#about">시나브로에 대해</a></li>
          <li><a class="nav-link scrollto" href="#team">개발팀</a></li>
          <li><a class="nav-link scrollto" href="#contact">문의하기</a></li>
          <li><a class="nav-link scrollto" href="typingGame.html">타자연습</a></li>
          <li><a class="getstarted scrollto" href="chat.html">채팅 시작하기</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>우리 함께 조금씩 조금씩 <br> 더 나은 언어 습관을 <br> 만들어가요!</h1>
          <h2>시나브로와 함께라면 가능!</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="chat.html" class="btn-get-started scrollto">채팅 시작하기</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../static//img/computer_fox.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static//img/skill/KcELECTRA.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static//img/skill/KoBART.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static//img/skill/Flask.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static//img/skill/HTML&CSS.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static//img/skill/js.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../static//img/skill/mysql.png" class="img-fluid" alt="">
          </div>

        </div>

      </div> -->
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>시나브로에 대하여</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              시나브로는 건전한 초등학생 웹 채팅 문화를 조성을 위해 <br> 자연어 처리 AI 모델을 결합한 비속어 변환 채팅 솔루션입니다. <br>
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>온라인 소통 환경의 변화와 어린이들의 영향</li>
              <li><i class="ri-check-double-line"></i>비속어와 부적절한 언어 사용의 확산</li>
              <li><i class="ri-check-double-line"></i>어린이 대상 언어 교육의 필요성</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              서비스는 기존에 수집된 데이터와 유튜브에서 크롤링한 최신 댓글을 결합하여, <br>
              총 400,000개의 혐오 문장을 모아 KcELECTRA 모델을 학습시킵니다. <br>
              이 후, 혐오 문장을 순화하는 기준을 설정하고, 이 기준에 따라 변환된 8,000개의 데이터를 이용해 KoBART 모델을 학습시킵니다. 
              <br> 추가로, Back Translation 방법을 통해 생성된 24,000개의 Psudo data를 활용하여 KoBART 모델을 더욱 효과적으로 학습시킵니다.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>기대효과</h2>
          <p>시나브로를 사용한다면 이런 기대효과를 볼 수 있어요!</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-children"></i></div>
              <h4><a>초등학생 언어 사용 습관 개선</a></h4>
              <p>채팅 작성 후 문장을 수정하여 올바른 표현을 알려줌으로써 올바른 언어의 가이드라인 제시</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-comments"></i></div>
              <h4><a>오프라인 언어 사용 영향</a></h4>
              <p>온라인에서 적절한 사용을 배운 뒤 연습하며 오프라인 상에서 올바른 언어 사용 확대를 기대</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></div>
              <h4><a>안전한 교류 환경 제공</a></h4>
              <p>안전하고 긍정적으로 소통할 수 있는 공간이라는 신뢰성 제공</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-person-harassing"></i></div>
              <h4><a>비속어 및 부적절한 언어의 노출을 최소화</a></h4>
              <p>대상이 아니더라도 감정이 상하는 욕설을 보지 않음으로써 사용자 2차 피해 예방</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>개발팀</h2>
          <p>Team 짜요짜요를 소개합니다 :)</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static//img/team/team-1.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>김태완</h4>
                <span>짜요짜요 팀장 / AI</span>
                <p>AI 모델링 (KoBART), 데이터 라벨링</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static//img/team/team-2.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>김유진</h4>
                <span>PM</span>
                <p>문서 작업 및 일정 조율, Flask 서버 구축, 데이터 라베링</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static//img/team/team-3.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>박겸</h4>
                <span>프론트엔드</span>
                <p>HTML, CSS, JS를 활용한 웹 사이트 제작, PPT 제작</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static//img/team/team-4.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>선동진</h4>
                <span>AI</span>
                <p>AI 모델링 (KcELECTRA), 문장 대체 기준 생성, 데이터 라벨링</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-5" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static//img/team/team-5.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>임한별</h4>
                <span>백엔드</span>
                <p>데이터 수집 및 전처리 (AI Hub, 크롤링, GitHub), 대체 문장 생성</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> <!--======== End Team Section ======== -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>문의하기</h2>
          <p>언제든지 편하게 연락주세요!</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>장소:</h4>
                <p>광주 동구 제봉로 92-3층 인공지능사관학교</p>
              </div>

              <div class="email">
                <i class="fa-brands fa-github"></i>
                <h4>GitHub:</h4>
                <p><a href="https://github.com/2023-AISCHOOL-IOTA/jjayojjayo">짜요짜요</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>번호:</h4>
                <p>0507-1364-0362</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.4034498817505!2d126.91968637488269!3d35.1465576591614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35718d295c3770b1%3A0xcf8f5a2bb8f332b6!2z7J246rO17KeA64ql7IKs6rSA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1700842484267!5m2!1sko!2skr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Sinabro</h3>
            <p>
              광주 동구 제봉로 92-3층 인공지능사관학교 <br>
              <strong>번호:</strong> 0507-1364-0362<br>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>jjayojjayo</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static//vendor/aos/aos.js"></script>
  <script src="../static//vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static//vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static//vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static//vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static//vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static//vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static//js/main.js"></script>

</body>

</html>